<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIVrpuakprMxs5_v8lHhZK7YaTkhEIyQM</string>
	<key>GCM_SENDER_ID</key>
	<string>519522440551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soHoaVungTrong</string>
	<key>PROJECT_ID</key>
	<string>so-hoa-vung-trong</string>
	<key>STORAGE_BUCKET</key>
	<string>so-hoa-vung-trong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519522440551:ios:a4bb9801d33932f3878bc2</string>
</dict>
</plist>